@import 'normalize.scss';

// === Mixins ===

@mixin font-main {
    font-family: 'Lato', sans-serif;
}

@mixin font-secondary {
    font-family: 'Montserrat', sans-serif;
}

// === / Mixins ===

// === Variables ===
$color-white: #ffffff;
$color-main: #414141;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-xs-max: 575px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;
// === / Variables ===

// === Common ===
* {
    box-sizing: border-box;
}

body {
    @include font-main;

    color: $color-main;
}

.section-outer {
    padding-right: 20px;
    padding-left: 40px;
}
.section-inner {
    max-width: 1180px;
    margin: 0 auto;
}

.description-item {
        &-icon {
            margin-bottom: 20px;
        }
        &-title {
                margin-bottom: 14px;
                font-size: 18px;
                line-height: 22px;
                font-weight: bold;
                margin-top: 30px;
            }
        &-text {
            font-size: 16px;
            line-height: 28px;
            font-weight: 300;
            color: #6C6C6C;
        }
}

@mixin start-button {
    @include font-secondary;

    font-size: 18px;
    margin: 0;
    padding: 16px 20px;

    outline: none;
    border-radius: 4px;
    color: $color-white;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

    .btn-main {
        @include start-button;

        border: none;
        background: linear-gradient(to right, #FE985B, #FE4FA7);
        color: $color-white;

        &:hover {
            background: linear-gradient(to right, #FE4FA7, #FE985B);
        }
    }

    .btn-secondary {
        @include start-button;

        border: 1px solid  $color-main;
        background: $color-white;
        color: $color-main;
        transition: .2s;

        &:hover {
            color: #FE4FA7;
            border-color: #FE4FA7;
        }

    }

    .btn-free {
        @include start-button;

        border: none;
        background: $color-white;
        color: $color-main;

    }

    
// === / Common ===

// === header ===
.section-header {
    color: $color-white; 
    background: url('../img/bg-header.jpg') no-repeat 50% 50%;
    background-size: cover;
    position: relative;

    .section-inner {
        height: 100vh;
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: column;
    }

    &::before {
        content: '';
        position: absolute;
        z-index: 5;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(20, 39, 41, .6);
    }

    &-logo {
        font-weight: bold;
        font-size: 24px;
        flex-shrink: 1;
        padding-top: 35px;
    }
    &-content {
        flex-grow: 1;
        display: flex;
        align-items: center;
    }
    &-wrapper {
        margin: 0 auto;

        &_title,
        &_subtitle {
            text-align: center;
            
        }
        &_title {
            font-weight: bold;
            font-size: 56px;
            line-height: 60px;
            margin-bottom: 16px;
        }
        &_subtitle {
            @include font-secondary;

            font-size: 18px;
            line-height: 32px;
            width: 80%;
            margin: 0 auto 44px;
        }
        &_form {
            display: flex;

            &-input {
                flex: 1;
 

                input {
                    @include font-secondary;

                    border: none;
                    background: rgba(255, 255, 255, .25);
                    color: $color-white;
                    font-size: 16px;
                    margin: 0;
                    padding: 16px 20px;
                    outline: none;
                    border-radius: 4px;
                    width: 100%;
                    transition: .2s;

                    &::placeholder {
                        color: $color-white;
                    }

                    &:focus {
                        background: rgba(255, 255, 255, .5);
                    }
                }
            }
            @media (min-width: $screen-sm) {
                &-input {
                    margin-right: 40px;
            }
        }

        
            @media (max-width: $screen-xs-max) {
                flex-direction: column;

                &-input {
                    margin-bottom: 10px;
                }

                &-button {
                    flex: 1;
    
                    .btn-main {
                        width: 100%;
                        display: block;
                    }
                }
            }
        }
    }
}
// === / header ===

// === promo ===
.section-promo{
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-promo-1 {
    display: flex;

    &-content,
    &-video {
        flex-basis: 50%;
    }

    &-content {
       

        .title {
            font-size: 32px;
            line-height: 51px;
            font-weight: bold;
            margin-bottom: 56px;
        }

        .description-item {
            margin-top: 28px;
        }
    }
        &-video {
            img {
                width: 100%;
                height: auto;
            }
        }

        @media (max-width: $screen-sm-max) {
            flex-direction: column;
            
            &-video {
                order: -1;
                margin-bottom: 20px;
            }
        }

        @media (max-width: $screen-md) {
            &-content {
                padding-right: 90px;
            }
        }
}
.section-promo-2 {
    display: flex;
    padding-top: 86px;
    margin-top: 120px;
    border-top: 1px solid #E2E2E2;
    text-align: center;

    @media (min-width: $screen-sm) {
        .description-item + .description-item {
            margin-left: 40px;
        }
    }

    @media (max-width: $screen-xs-max) {
        flex-direction: column;

        .description-item + .description-item {
            margin-top: 40px;
        }
    }
}
// === / promo ===

// === founder ===
.section-founder {
    background-color: #F6FAFD;
    padding-top: 34px;

    .section-inner {
        display: flex;
    }

    &-content {

        &-text {
            @include font-secondary;

            font-size: 24px;
            line-height: 40px;
        }
        &-name {
            font-size: 24px;
            line-height: 29px;
            font-weight: bold;
        }
        &-post {
            font-size: 20px;
            line-height: 29px;
        }
    }

    @media (max-width: $screen-sm-max) {
        .section-inner {
            flex-direction: column;
        }

        &-img {
            img {
                max-width: 100%;
            }
        }

        &-content {
            order: -1;
            margin-bottom: 40px;
        }
    }

    @media (min-width: $screen-md) {
        &-img {
            align-self: flex-end;
        }

        &-content {
            align-self: center;
            padding-left: 50px;
        }
    }
}
// === / founder ===

// === plans ===
.section-plans {
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;

    &-title {
        font-size: 36px;
        line-height: 51px;
        font-weight: bold;
    }
    &-subtitle {
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        margin-bottom: 80px;
    }

    &-list {
        display: flex;
        justify-content: center;

        &-item {
            flex-basis: 370px;
            padding: 60px 45px;

            &-title {
                font-size: 14px;
                line-height: 17px;
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 26px;
            }
            &-price {
                margin-bottom: 26px;
                .prefix {
                    font-size: 72px;
                    line-height: 86px;
                    font-weight: bold;
                    color: #FE4FA7;
                }
                .postfix {
                    font-size: 14px;
                    line-height: 17px;
                    font-weight: bold;
                }
            }
            &-description {
                font-size: 16px;
                line-height: 28px;
                font-weight: 300;
                margin-bottom: 50px;
            }
            &-button {}

            &.active {
                background-color: #F6FAFD;
            }
        }
        @media (max-width: $screen-xs-max) {
       
        }
        @media (max-width: $screen-xs-max) {
            flex-direction: column;
        }
    }

    @media (min-width: $screen-sm) {
        &-subtitle {
            width: 50%;
            margin-right: auto;
            margin-left: auto;
        }
    }
}
// === / plans ===

// === free ===
.section-free {
    color: $color-white;
    text-align: center;
    background: linear-gradient(to right, #FE985B, #FE4FA7);


    &-title {
        font-size: 55px;
        line-height: 60px;
        font-weight: bold;
        margin-bottom: 26px;
    }
    &-description {
        @include font-secondary;

        font-size: 20px;
        line-height: 30px;
        margin: 0 auto 40px;
    }
    
    @media (min-width: $screen-lg) {
        padding-top: 120px;
        padding-bottom: 120px;

        &-description {
            width: 50%;
        }
    }
    @media (max-width: $screen-md-max) {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}
// ==== / free ===

// === footer ===
.section-footer {
    padding-top: 80px;
    padding-bottom: 80px;

    &-logo {
        text-align: center;
        font-size: 24px;
        line-height: 29px;
        font-weight: bold;
        margin-bottom: 30px;

    }
    &-nav {
        display: flex;
        justify-content: center;
        margin: 0 0 75px;
        padding: 0;
        list-style: none;

        li {
            a {
                font-size: 14px;
                line-height: 20px;
                font-weight: bold;
                text-transform: uppercase;
                color: #464646;
                text-decoration: none;
                transition: .2s;

                &.active,
                &:hover {
                    color: #FE50A6;
                }
            }
        }
        @media (max-width: $screen-xs-max) {
            flex-direction: column;
            text-align: center;

            li {
                & + li {
                    margin-top: 10px;
                }
             } 
        }

        @media (min-width: $screen-sm) {
            li {
                & + li {
                    margin-left: 60px;
                }
             } 
        }
    }

    &-copyright-and-links {
        @include font-secondary;

        display: flex;
        justify-content: space-between;
        font-size: 14px;
        line-height: 18px;

        @media (min-width: $screen-xl) {
            width: 60%;
            margin: 0 auto;
        }

        @media (max-width: $screen-sm-max) {
            flex-direction: column;
            text-align: center;
        }
    }
}

.helper-link {
    margin: 0;
    padding: 0;
    list-style: none;

    .helper-link-item {
        & + .helper-link-item {
            margin-left: 20px;
        }

        .helper-link-item-link {
            color: #464646;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    @media (max-width: $screen-sm-max) {
        display: inline-flex;
        margin-top: 20px;
    }

    @media (min-width: $screen-md) {
        display: flex;
    }
}
// === / footer ===




